.formulaire{
    display: flex;
    flex-direction: column;
    align-content: center;
    border: 2px solid rgba(5, 73, 22, 0.267);
}
.inputform{
    margin: 5px;
}
::placeholder{
    color: rgb(25, 0, 255);} 

.form2{
    background-color: rgba(11, 109, 109, 0.589);
}
body{
    background-color: rgba(137, 43, 226, 0.281);
}

@media screen and (max-width:800px) {
    .form2{
        background-color: rgb(0, 255, 13);}
    }

@media screen and (max-width:801px) {
    .form2{
        background-color: rgb(255, 251, 0);
    }
}

.section-article{
    display: flex;
    justify-content: center;
}